<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>動物愛護団体</title>
  <style>
    body {
      font-family: 'Limelight', sans-serif;
      background-color: #EEF9FF;
      color: #665635;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;
    }

    header {
      background-color: #C6E6F0;
      padding: 10px 0;
      text-align: center;
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
    }

    .post-container {
      background-color: #FCECEA;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 700px;
      margin-top: 20px;
      z-index: 0;
      margin: auto;
    }

    p {
      margin: 10px 0;
    }

    h1 {
      font-size: 1.8em;
      font-weight: bold;
      text-align: center;
      color: #665635;
      justify-content: center;
      margin-top: 20px;
    }

    strong {
      font-weight: bold;
    }
  </style>
  <h1>イベント 詳細</h1>
</head>
<body>
<br>
<br>
  <div class="post-container">
    <p><strong>タイトル</strong>: <%= @blog.title %></p>
    <p><strong>時間</strong>: <%= @blog.start_time.strftime("%Y-%m-%d %H:%M") %></p>
    <p><strong>内容</strong>: <%= @blog.content %></p>

    <%= link_to 'カレンダーに戻る', blogs_path %>
  </div>
</body>
</html>




