// Place all the styles related to the losts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post-container {
    margin: 50px auto;
    width: 50%;
    border: solid #d3def1;
    border-radius: 100px;
    text-align: center;
    background-color: #d3def1;
    color: #665635
  }

  .title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
  }

  input[type="text"] {
    width: 95%;
    height: 40px;
  }

  input[type="submit"] {
    width: 50px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  

  